p {
    visibility: none;
}

.display-4{text-align: center;
font-size: 100px;}

.h1{
    font-size: 100px;
}

.cardsBackground .card-body {
    display: flex;
    flex-direction: column;
}

.cardsBackground .card-body a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}



.cardsBackground {
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: unset;
    
  }

  #heading-text{
    font-size: 100px;
    text-align: center;
  }

 
    
  .jumbotron{
    background-color: #000000!important;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    
}


.neon {
    padding-top: 5%;
    font-size: 4em;
    font-weight: 450;
    text-align: center;
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(0, 255, 234),
    0 0 80px rgb(0, 255, 234),
    0 0 90px rgb(0, 255, 234),
    0 0 100px rgb(0, 255, 234),
    0 0 150px rgb(0, 255, 234);
} 




  .cards-z{

    z-index: 0;
    background: lightgrey;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;


}

.Container{

   margin: 100 auto;

}


.cards-z:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-footer{


      /* background: blue;
      vertical-align: bottom;
      margin-top: 5px;
      flex-direction: column; */

      position: relative;
      align-items: flex-end;
      align-items: baseline;
    
     
      bottom: 10px;
        

}

.btn.btn-primary:hover {
    background-color: #00BFFF;
    text-decoration: none;
}


.card-img-top{

    height:250px;
    width: 100px;
}




  